/* 84CAD4DF-1291-4FB8-BFE0-354F3937458E fontawsome_key */
*{
    box-sizing:border-box;
}
body, html{
    background-color:tomato;
    height:100%;
    margin:0;
}

.clock, .clock h1{
    color: white;
    padding:0;
    margin:0;
    font-size:50px;
}
.greeting, .greetingForm{
    display:none;  
    color:white;
    margin:0;
}

.showing{
    display:block;
}

button{
    border:none;
    color:green;
    background-color:transparent;
    font-size:15px;
    font-weight:bold;
}
.toDo{
    color:white;
    list-style-type:none;
    font-weight:bold;
    
    
}
.weather{
    font-size:20px;
    color:white;
}
img{
    max-width:100%
}
.imgCss{
    position:relative;
}.center{
    position: absolute;;
    top:50%;
    right:50%;

}.top-right{
    position: absolute;;
    right:-5px;
    top:0px;
}
